<a href="https://colab.research.google.com/github/Keerthana0309/Movie-Lens-Recommendation-System/blob/master/Movie_Recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import numpy as np
import pandas as pd

In [27]:
data = pd.read_csv('ratings.csv')
data.head(10)

   userId  movieId  rating     timestamp
0       1        2     3.5  1.112486e+09
1       1       29     3.5  1.112485e+09
2       1       32     3.5  1.112485e+09
3       1       47     3.5  1.112485e+09
4       1       50     3.5  1.112485e+09
5       1      112     3.5  1.094786e+09
6       1      151     4.0  1.094786e+09
7       1      223     4.0  1.112486e+09
8       1      253     4.0  1.112485e+09
9       1      260     4.0  1.112485e+09

In [28]:
movie_title_genre = pd.read_csv('movies.csv')
movie_title_genre.head(10)

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy
5        6  ...                        Action|Crime|Thriller
6        7  ...                               Comedy|Romance
7        8  ...                           Adventure|Children
8        9  ...                                       Action
9       10  ...                    Action|Adventure|Thriller

[10 rows x 3 columns]

In [29]:
data = data.merge(movie_title_genre,on='movieId',how='left')
data.head(10)

   userId  ...                                  genres
0       1  ...              Adventure|Children|Fantasy
1       1  ...  Adventure|Drama|Fantasy|Mystery|Sci-Fi
2       1  ...                 Mystery|Sci-Fi|Thriller
3       1  ...                        Mystery|Thriller
4       1  ...                  Crime|Mystery|Thriller
5       1  ...           Action|Adventure|Comedy|Crime
6       1  ...                Action|Drama|Romance|War
7       1  ...                                  Comedy
8       1  ...                            Drama|Horror
9       1  ...                 Action|Adventure|Sci-Fi

[10 rows x 6 columns]

**Feature Engineering**

In [34]:
Average_ratings = pd.DataFrame(data.groupby('title')['rating'].mean())
Average_ratings.head(10)

                                           rating
title
"Great Performances" Cats (1998)         2.875000
$5 a Day (2008)                          3.300000
'71 (2014)                               3.250000
'Hellboy': The Seeds of Creation (2004)  3.125000
'Neath the Arizona Skies (1934)          3.500000
'R Xmas (2001)                           3.000000
'Round Midnight (1986)                   3.785714
'Salem's Lot (2004)                      2.714286
'Til There Was You (1997)                2.881579
'burbs, The (1989)                       3.045455

In [35]:
Average_ratings['Total Ratings'] = pd.DataFrame(data.groupby('title')['rating'].count())
Average_ratings.head(10)

                                           rating  Total Ratings
title
"Great Performances" Cats (1998)         2.875000              8
$5 a Day (2008)                          3.300000              5
'71 (2014)                               3.250000              2
'Hellboy': The Seeds of Creation (2004)  3.125000              4
'Neath the Arizona Skies (1934)          3.500000              2
'R Xmas (2001)                           3.000000              1
'Round Midnight (1986)                   3.785714              7
'Salem's Lot (2004)                      2.714286              7
'Til There Was You (1997)                2.881579             38
'burbs, The (1989)                       3.045455            165

**Building the Recommender**
*Calculating the Correlation*

In [37]:
movie_user = data.pivot_table(index='userId',columns='title',values='rating')
movie_user.head(10)

title   "Great Performances" Cats (1998)  ...  À nous la liberté (Freedom for Us) (1931)
userId                                    ...
1                                    NaN  ...                                        NaN
2                                    NaN  ...                                        NaN
3                                    NaN  ...                                        NaN
4                                    NaN  ...                                        NaN
5                                    NaN  ...                                        NaN
6                                    NaN  ...                                        NaN
7                                    NaN  ...                                        NaN
8                                    NaN  ...                                        NaN
9                                    NaN  ...                                        NaN
10                                   NaN  ...                                        NaN

[10 rows x 14173 columns]

In [38]:
correlations = movie_user.corrwith(movie_user['Toy Story (1995)'])
correlations.head(10)

/usr/local/lib/python3.6/dist-packages/numpy/lib/function_base.py:2526: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/usr/local/lib/python3.6/dist-packages/numpy/lib/function_base.py:2455: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

title
"Great Performances" Cats (1998)                NaN
$5 a Day (2008)                                 NaN
'71 (2014)                                 1.000000
'Hellboy': The Seeds of Creation (2004)         NaN
'Neath the Arizona Skies (1934)                 NaN
'R Xmas (2001)                                  NaN
'Round Midnight (1986)                    -1.000000
'Salem's Lot (2004)                       -1.000000
'Til There Was You (1997)                  0.258998
'burbs, The (1989)                         0.053051
dtype: float64

*Now remove all the empty values and merge the total ratings to the correlation table.*

In [39]:
recommendation = pd.DataFrame(correlations,columns=['Correlation'])
recommendation.dropna(inplace=True)
recommendation = recommendation.join(Average_ratings['Total Ratings'])
recommendation.head()

                           Correlation  Total Ratings
title
'71 (2014)                    1.000000              2
'Round Midnight (1986)       -1.000000              7
'Salem's Lot (2004)          -1.000000              7
'Til There Was You (1997)     0.258998             38
'burbs, The (1989)            0.053051            165

**Testing The Recommendation System**

In [40]:
recc = recommendation[recommendation['Total Ratings']>100].sort_values('Correlation',ascending=False).reset_index()

In [41]:
recc = recc.merge(movie_title_genre, on='title', how='left')
recc.head(10)

                                   title  ...                                            genres
0                       Toy Story (1995)  ...       Adventure|Animation|Children|Comedy|Fantasy
1                     Toy Story 2 (1999)  ...       Adventure|Animation|Children|Comedy|Fantasy
2                    Finding Nemo (2003)  ...               Adventure|Animation|Children|Comedy
3                  Monsters, Inc. (2001)  ...       Adventure|Animation|Children|Comedy|Fantasy
4                   Bug's Life, A (1998)  ...               Adventure|Animation|Children|Comedy
5                     Toy Story 3 (2010)  ...  Adventure|Animation|Children|Comedy|Fantasy|IMAX
6                            Cars (2006)  ...                         Animation|Children|Comedy
7  All Quiet on the Western Front (1930)  ...                                  Action|Drama|War
8                   Stuart Little (1999)  ...                           Children|Comedy|Fantasy
9                Incredibles, The (2004)  ...        Action|Adventure|Animation|Children|Comedy

[10 rows x 5 columns]